<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058215598914-qdves3f48q5bed91u075qjui4r71gp50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058215598914-qdves3f48q5bed91u075qjui4r71gp50</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058215598914-a99u24c1bielot2uvheghuq79gd074f0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUq264n-XtTlxy8Tb5YSWq119deRG4RO0</string>
	<key>GCM_SENDER_ID</key>
	<string>1058215598914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neostudio</string>
	<key>PROJECT_ID</key>
	<string>neoestudio-7af6a</string>
	<key>STORAGE_BUCKET</key>
	<string>neoestudio-7af6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058215598914:ios:83b7746ce9cf6a2a63c6db</string>
	<key>DATABASE_URL</key>
	<string>https://neoestudio-7af6a-default-rtdb.firebaseio.com</string>
</dict>
</plist>